.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 100%;
  margin-bottom: 35px;
  position: relative;
}

.imageCard {
  width: 100%;
  min-height: 240px;
}

.image {
  width: 100%;
  height: 100%;
}

.cardTitle {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgba(197, 187, 193, 0.7);
  border-radius: 32px;
  padding: 5px 20px;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 700;
}

.details {
  background-color: #f1f1f1;
  padding: 10px 20px;
  height: -webkit-fill-available;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.variantOne {
  transform: rotate(180deg);
  position: absolute;
  right: 20px;
  padding-bottom: 5px;
}

.variantTwo {
  transform: rotate(0deg);
  position: absolute;
  right: 5px;
  padding-bottom: 5px;
  top: 5px;
}

.actionDetails {
  display: flex;
  justify-content: space-between;
}

.line {
  border-top: 1px solid rgb(181, 178, 178);
  padding: 20px;
  background-color: #f1f1f1;
}

.info {
  font-size: 14px;
  color: #575555;
  line-height: 20px;
  width: 70%;
}

.dynamicPart {
  position: absolute;
  bottom: 0;
}

.detailsFotViewContent {
  background-color: #f1f1f1;
  padding: 10px 20px;
  height: -webkit-fill-available;
  position: relative;
}

.personalInfo {
  color: black;
  font-size: 16px;
}
